<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información de Rodrigo Miño</title>
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='weather.ico')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 30px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <img src="{{ url_for('static', filename='yo.png') }}" alt="Foto de Rodrigo Miño" width="150" height="200" class="mx-auto d-block">
                <h1>Rodrigo Sebastian Miño Yeber</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">CONTACTO</h2>
                <ul class="list-unstyled">
                    <li><i class="bi bi-telephone"></i> (593) 0983767127</li>
                    <li><i class="bi bi-envelope"></i> rodrigosebastianmy@hotmail.com</li>
                    <li><i class="bi bi-globe"></i> www.weather-in-your-city.com</li>
                    <li><a href="https://github.com/Psiquic0"><i class="bi bi-github"></i> Rodrigo Miño</a></li>
                    <li><a href="https://www.linkedin.com/in/rodrigo-mi%C3%B1o-a58663178/"><i class="bi bi-linkedin"></i> Rodrigo Miño</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">HABILIDADES</h2>
                    <li>Liderazgo</li>
                    <li>Comunicacion en equipo</li>
                    <li>Gestión de documentos</li>
                    <li>Gestión de base de datos</li>
                    <li>Resolución de problemas</li>
                    <li>Elaboración de reportes</li>
                    <li>Trabajo en equipo</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">EDUCACIÓN</h2>
                    <h5>Educacion primaria:</h5>
                    <li>Unidad Educativa Evangelic "Ciencia Y Fe"</p>
                    <h5>Educacion secundaria:</h5>
                    <li>Unidad Educativa Biblica Cristiana Senderos de Fe</p>
                    <h5>Universidad de Guayaquil:</h5>
                    <li>Licenciatura en Gestion de la Informacion Gerencial (Cursando 4to semestre)</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">EDUCACIÓN ADICIONAL</h2>
                    <li>Curso de manejo completo de Excel, Word y Power Point</li>
                    <li>Curso de ingles 5 modulo</li>
                    <li>Curso de diseño grafico en Adobe photoshop y ilustrator</li>
                    <li>Curso de diseño grafico en Inkscape</li>
                    <li>Curso de Google en profundidad</li>
                    <li>Manejo de base de datos</li>
                    <li>Uso de AS400</li>  
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">ACERCA DE MÍ</h2>
                <li>Me gusta mucho la programacion y el diseño grafico, soy estudiante de 4to semestre de la carrera Gestion de la informacion gerencial, tengo 20 años y me gustaria adquirir mucho mas conocimiento en esta empresa.</li>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">EXPERIENCIA LABORAL</h2>
                    <li>Digitador - Intelec services</h4>   
                    <li>Contador - NCA SA</li>
                    <li>Administracion - NCA SA</li>
                    <li>Jefe Operativo - NCA SA</li>
                    <li>Digatador - Cambaru SA</h4>  
                </ul>
            </div>
        </div>
    </div>
</body>
</html>